<div class="container">
  <h1 class="h1" appHighlight [appTooltip]="tooltip">Flight Search</h1>
</div>
<ng-template #tooltip>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Tooltip</h5>
      <p class="card-text">This is a tooltip</p>
    </div>
  </div>
</ng-template>
<div class="container" *appUserRole="'admin'">
  <form #form="ngForm">
    <div class="mb-3 form-group">
      <label for="from" class="form-label">From</label>
      <input
        type="text"
        class="form-control"
        placeholder="From"
        name="from"
        [(ngModel)]="from"
        required
        minlength="3"
      />
      <!-- <div>Errors: {{ form?.controls?.['from']?.errors | json }}</div> -->
    </div>
    <div class="mb-3 form-group">
      <label for="to" class="form-label">To</label>
      <input
        type="text"
        class="form-control"
        placeholder="To"
        name="to"
        [ngModel]="to"
        (ngModelChange)="to = $event"
        required
        minlength="3"
      />
      <!-- <div>Errors: {{ form?.controls?.['to']?.errors | json }}</div> -->
    </div>

    <div
      class="btn-toolbar justify-content-between"
      role="toolbar"
      aria-label="Toolbar with button groups"
    >
      <button
        class="btn btn-default"
        type="submit"
        [disabled]="form.invalid"
        (click)="search()"
      >
        Search
      </button>
      <button class="btn btn-primary" type="button" (click)="addFlight()">
        Add
      </button>
    </div>
  </form>
  <pre>
    {{ form.value | json }}
  </pre>
</div>

<div class="container">
  <app-flight-card
    *ngFor="let flight of flights"
    [flight]="flight"
    [selected]="basket[flight.id]"
    (selectedChange)="basket[flight.id] = $event"
    (editFlight)="editFlight($event)"
  >
    <h6 class="card-subtitle">
      {{ flight.date | date }}
    </h6>
    <pre class="bottom">
      {{ flight | json }}
    </pre>
  </app-flight-card>
</div>

<div class="card" *ngIf="selectedFlight">
  <div class="card-body">
    <div class="alert alert-success" *ngIf="messageSuccess">
      {{ messageSuccess }}
    </div>
    <div class="alert alert-danger" *ngIf="messageError">
      {{ messageError }}
    </div>

    <div class="form-group" *ngIf="selectedFlight.id !== 0">
      <label>Id</label>
      <input
        class="form-control"
        name="from"
        readonly
        [disabled]="true"
        [(ngModel)]="selectedFlight.id"
      />
    </div>

    <div class="form-group">
      <label>From</label>
      <input class="form-control" [(ngModel)]="selectedFlight.from" />
    </div>

    <div class="form-group">
      <label>To</label>
      <input class="form-control" [(ngModel)]="selectedFlight.to" />
    </div>

    <div class="form-group">
      <label>Date</label>
      <input class="form-control" [(ngModel)]="selectedFlight.date" />
    </div>

    <div class="form-group">
      <input
        type="checkbox"
        id="delayed"
        [(ngModel)]="selectedFlight.delayed"
      />
      <label class="form-check-label" for="delayed"> delayed</label>
    </div>

    <div
      class="btn-toolbar justify-content-between"
      role="toolbar"
      aria-label="Toolbar with button groups"
    >
      <button
        class="btn btn-primary"
        (click)="save()"
        [disabled]="
          !selectedFlight.from || !selectedFlight.to || !selectedFlight.date
        "
      >
        Save
      </button>
      <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
